<!DOCTYPE html>
<html>
  <head>
    <title>You do not have permission to access this page</title> 
  </head>

  <body class='not-found'>
    <div class="no-access-div offset-2">      
      <h3 id='no-access'>ಠ_ಠ</h3>
    </div>
      <br />
      <br />

    <div class='center-page'>
      <h1 id='not-found'>Access Not Allowed.</h1>
      <br />
      <a href="/places">
        <span id='arrow'></span>
        Back to Meadster
      </a>    
    </div>
  </body>
</html>