@import "bootstrap";
@import "font-awesome";


a {
  color: black;

}

#arrow {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 16px;
    height: 16px;
    transform: rotate(135deg);
    display: inline-block;
}

body {
  background: image_url('honeycomb1.jpg');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

.center-page {
    text-align: center;
    color: #505152;
    font-family: 'kingthings_foundationregular', sans-serif;
    font-size: 55px;
    margin: auto;
    position: absolute;
    top: 25%;
    width: 100%;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;

}

.navbar-inverse .navbar-brand {
  color: #f0ad42;
  font-family: 'kingthings_foundationregular';
  font-size: 64px;
  padding-left: 10;
  /* text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; */

}

.navbar-inverse .navbar-nav .nav-link {
  color: #f0ad42;
  float: right;

}

.no-access-div #no-access {
    margin: auto;
    position: absolute;
    top: 25%;
    color: black;
    font-weight: 300;
    font-size: 80px;
    transform: rotate(-35deg);

}

.not-found {
  background: none;

}

#not-found {
  font-size: 80px;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #c89f00;
    border-color: #c89f00;
}

.pagination a {
  background-color: #f2ce61;
  color: black;
}

.pagination a:hover {
  background-color: #c89f00;
  color: white;
}

.pagination {
  justify-content: center;

}